@media screen and (max-width:1020px){
    .products .row .col{
        flex-basis: 33%;
    }
} 
@media screen and (max-width:700px) {
    .header nav{
        padding: 6% 8%;
    }
    .header nav .nav-links{
        width: 100%;
        height: auto;
        background-color: white;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0%;
        top:10%;
        z-index: 100;
        display: none;
    }
    .header .bars{
        display: block;
    }
    .header .close{
        display: none;
    }
    .header nav .nav-links ul li{
        display: block;
        margin: 3rem 0;
    }
    .header nav .sign-btn{
        margin-left: auto;
        margin-right: 5%;
        padding: 1.5% 4%;
    }
    .hero-part .row{
        flex-direction: column-reverse;
    }
    .hero-part .row h1{
        font-size: 2.7rem;
        line-height: 2rem;
    }
    .hero-part .row p{
        width: 100%;
    }
    .hero-part .left .hero-btn{
        padding: 4% 8%;
    }
    .hero-part .left .message{
        margin: 10% 0;
    }
    .hero-part .left .message p{
        font-size: 0.8rem;
    }
    .hero-part .left .message i{
        font-size: 3rem;
    }



    .adverties .row{
        width: 75%;
        flex-direction: column;
        margin: 10% auto;
    }
    .adverties .row .left{
        margin-top: 6%;
        padding: 2%;
    }
    .adverties .row .left h2{
        font-size: 1.3rem;
        line-height: 0rem;
    }
    .adverties .row .right{
        margin-top: 10%;
        padding: 2%;
    }
    .adverties .row .right p{
        font-size:0.8rem;
    }

    .products h3{
        font-size: 2rem;
        margin-bottom: 9%;
    }
    .products .row{
        /* flex-direction: column; */
        width: 90%;
    }
    .products .row .col{
        flex:1 0 40%;
    }
    .products .row .col h4{
        font-size: 1rem;
    }
    .products .row .col {
        font-size: 0.7rem;
    }
    .products .row .col a{
        font-size: 0.9rem;
    }

    .best-service h3{
        font-size: 1.7rem;
        margin: 4% 0;
    }
    .best-service p{
        width: 100%;
        font-size: 0.8rem;
    }
    .best-service a{
        padding: 2% 3%;
        margin: 4% 0;
    }

    .about .row{
        flex-direction: column;
    }
    .about .row .right h3{
        font-size: 2rem;
    }
    .about .row .right p{
        font-size: 0.8rem;
        width: 100%;
    }

    .testimonial{
        margin-top: 10%;
    }
    .testimonial .row{
        flex-direction: column;
        margin-top: 10%;
    }
    .testimonial h2{
        font-size: 2rem;
    }
    .testimonial p{
        font-size: 0.8rem;
        margin-top: 1rem;
        width: 80%;
        margin: auto;
    }
    .testimonial .row .col{
        padding: 7% 3%;
    }
    .testimonial .row .col p{
        font-size: 0.8rem;
        margin-top: 1rem;
    }


    .footer{
        padding: 10% 3%;
        margin-top: 4%;
    }
    .footer .row p{
        margin: 2rem 0;
    }
    .footer .row ul li a{
        font-size: 0.9rem;
    }
    .footer .row .social-icons{
        margin: 0.7rem 0 0 0;
    }
}
