:root {
    --primary_color: #2a9d8f;
    --black_color: #272829;
    --gray_color_text: #909090;
    --white_color:#ffffff;
    --btn_hover:#20766C;
}
@media screen and (max-width:1024px){
    .hero-part .row{
        align-items: center;
    }
    .hero-part .right img{
        z-index: 11;
    }
    .products .row{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .products .row .col{
        flex: 0 1 30%;
    }
    .testimonial .row{
        flex-wrap: wrap;
    }
    .testimonial .row .col{
        flex-basis: 45%;
    }
}
@media screen and (max-width:800px) {
    /* header section */
    .header nav {
        padding: 6% 8%;
        background-color: var(--black_color);
        z-index: 10;
    }
    .header nav .nav-links {
        width: 90%;
        height: auto;
        background-color: var(--black_color);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 50%;
        top: -600%;
        transform: translate(-50%,0%);
        z-index: 100;
        display: block;
        transition: .7s all;
        z-index: -1;
    }
    .header .bars{
        display: block;
        color: var(--white_color);
        font-size: 1.5rem;
    }
    .header .close{
        font-size: 1.5rem;
    }
    .header nav .nav-links.active{
        top: 100%;
    }
    .header nav .nav-links.active ~ .close{
        display: block;
        color:var(--white_color);
    }
    .header nav .nav-links.active ~ .bars{
        display: none;
    }
    .header nav .nav-links{
        text-align: center;
    }
    .header nav .nav-links ul li {
        display: block;
        margin: 3rem 0;
        opacity: 0;
        transition: .2s all;
    }
    .header nav .nav-links.active ul li{
        opacity: 1;
    } 
    .header nav .sign-btn {
        margin-left: auto;
        margin-right: 5%;
        padding: 3.5% 4%;
        font-size: 0.8rem;
    }
    /* hero part in page  */
    .hero-part {
        padding-top: 20%;
    }
    .hero-part .row {
        flex-direction: column-reverse;
    }
    .hero-part .row h1 {
        font-size: 2.2rem;
        line-height: 1rem;
    }
    .hero-part .row p {
        width: 100%;
        margin: 1rem 0;
        font-size: 0.9rem;
    }
    .hero-part .left{
        justify-content: left;
    }
    .hero-part .row .col.right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-part .left .hero-btn {
        padding: 4% 8%;
    }
    .hero-part .left .message {
        margin: 10% 0;
    }
    .hero-part .left .message img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
    }
    .hero-part .left .message p {
        font-size: 0.8rem;
    }
    .hero-part .left .message i {
        font-size: 3rem;
    }
    .hero-part .bol-2,.bol-3,.bol-4{
        display: none;
    }
    /* adverties section */
    .adverties .row {
        width: 75%;
        flex-direction: column;
        align-items: flex-start ;
    }
    .adverties .row .left {
        margin-top: 6%;
    }
    .adverties .row .left h3 {
        font-size: 1.3rem;
        line-height: 0rem;
    }
    .adverties .row .right {
        margin-top: 1rem;
        /* padding: 2%; */
    }
    .adverties .row .right p {
        font-size: 0.8rem;
    }
    .adverties .row .right a {
        width: 3rem;
        height: 3rem;
    }
    /* product page and product section */
    .all-pro{
        margin-top: 3rem;
    }
    .products h2 {
        font-size: 1.5rem;
        margin: 9% 0;
    }
    .products .row {
        /* flex-direction: column; */
        width: 90%;
        flex-wrap: wrap;
    }
    .products .row .col {
        flex: 1 0 40%;
    }
    .products .row .col h4 {
        font-size: 0.9rem;
    }
    .products .row .col p{
        font-size: 0.8rem;
    }
    .products .row .col {
        font-size: 0.7rem;
    }
    .products .row .col a {
        font-size: 0.7rem;
        padding: 10px 13px;
    }
    /* service section */
    .best-service h2{
        font-size: 1.5rem;
        margin: 4% 0;
    }
    .best-service p {
        width: 100%;
        font-size: 0.8rem;
    }
    .best-service a {
        padding: 3% 5%;
        margin: 4% 0;
        font-size: 0.8rem;
    }
    /* about-page and section */
    .about-pg{
        margin-top: 5rem;
    }
    .about .row {
        width: 80%;
        flex-direction: column;
    }
    .about .row .left img{
        margin: auto;
        display: block;
    }
    .about .row .right h2 {
        font-size: 1.5rem;
    }
    .about .row .right p {
        font-size: 0.8rem;
        width: 100%;
    }
    /* testimonial section */
    .testimonial .row {
        flex-direction: column;
        margin-top: 10%;
        width: 80%;
    }
    .testimonial h2 {
        font-size: 1.5rem;
    }
    .testimonial .sub-head{
        font-size: 0.8rem;
        margin-top: 1rem;
        width: 80%;
        margin: auto;
    }
    .testimonial .row .col {
        width: 100%;
        padding: 7% 3%;
    }
    .testimonial .row .col p {
        font-size: 0.8rem;
    }
    /* footer section */
    .footer {
        padding: 10% 3%;
        margin-top: 4%;
    }
    .footer .row p {
        margin: 2rem 0;
    }
    .footer .row ul li a {
        font-size: 0.9rem;
    }
    .footer .row .social-icons {
        margin: 0.7rem 0 0 0;
    }
    .head-for-contact{
        height: 100%;
    }

    /* contact page */
    .contact-section{
        margin-top: 4rem;
        height: 100%;
    }
    .contact-section .row{
        width: 80%;
        flex-direction: column;
    }
    .contact-section .row .left{
        padding: 20px;
    }
    .contact-section .row .right{
        padding: 20px 0;
    }
    .contact-section .row .col{
        width: 100%;
    }
    .contact-section .main-form .form-control{
        width: 100%;
    }
    /* product detail page */
    .detail{
        margin-top: 6rem;
    }
    .detail .row{
        flex-direction: column;
    }
    .detail .row .col{
        width: 100%;
    }
    .detail .row .col.left .boxs{
        width: 100%;
        gap: 2px;
    }
    .detail .row .col.right .head{
        width: 90%;
        font-size: 1rem;
    }
}