:root {
    --primary_color: #2a9d8f;
    --black_color: #272829;
    --gray_color_text: #909090;
    --white_color:#ffffff;
    --btn_hover:#20766C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {  
    scroll-behavior: smooth;
}

h1 {
    line-height: 0.2em;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: justify;
}


/* header section */

.header {    
    width: 100%;    
}

.header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 8%;
    /* box-shadow: 0 0 7px 0 rgba(0,0,0,0.1); */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--black_color);
    /* border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; */
    z-index: 100;
    transition: .5s;
    border-radius: 0 0px 20px 20px;
}

.header .bars {
    display: none;
}

.header .close {
    display: none;
}

.header nav .logo {
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    color:#fff;
}

.header nav .nav-links {
    flex: 1;
    text-align: center;
    color: #fff;
}

.header nav .nav-links ul li {
    display: inline-block;
    margin: 0 2%;
    list-style: none;
}
.header nav .nav-links ul li.active::after{
    width: 100% !important;
}
.header nav .nav-links ul li::after,
.header nav .nav-links ul li.active::after {
    content: '';
    height: 2px;
    width: 0%;
    display: block;
    margin: auto;
    background: var(--primary_color);
    transition: .2s;
}

.header nav .nav-links ul li:hover::after {
    width: 100%;
}

.header nav .nav-links ul li a {
    text-decoration: none;
    color: var(--white_color);
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.header nav .sign-btn {
    text-decoration: none;
    color: white;
    background-color: var(--primary_color);
    /* background-image: linear-gradient(45deg, turquoise, greenyellow); */
    padding: 10px 25px;
    font-weight: 500;
    font-size: 0.8em;
    transition: .3s all;
}

.header nav .sign-btn:hover {
    background-color: var(--btn_hover);
}

.header .scroll-down {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1%;
}

.header .scroll-down .scroll-main {
    width: 2rem;
    height: 3.5rem;
    background-color: white;
    border: 2px solid var(--black_color);
    border-radius: 1rem;
}

.header .scroll-down .scroll-main .scroll-inn {
    background-color: var(--primary_color);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    margin: 0.8rem auto 0 auto;
    animation: animescroll 2s infinite ease-out;
}

@keyframes animescroll {
    0% {
        margin-top: 0.8rem;
    }
    100% {
        margin-top: 1.5rem;
    }
}


/* hero part */

.hero-part {
    height: 100vh;
    width: 100%;
    padding-top:8%;
}

.hero-part .row {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero-part .row .col {
    flex-basis: 49%;
    padding: 3%;    
}

.hero-part .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-part .left h1 {
    font-size: 3rem;
    line-height: 0.7em;
    font-weight: 800;
    letter-spacing: 1px;    
}
.hero-part .left p {
    font-size: 0.8em;
    width: 100%;
    color: var(--gray_color_text);
    margin-top: 5%;
    margin-left: 1%;
    line-height: 1.5em;
}

.hero-part .left .hero-btn {
    width: 170px;
    padding: 15px 10px;
    color: var(--black_color);   
    /* background-image: linear-gradient(45deg, turquoise, greenyellow); */
    text-decoration: none;
    font-weight: 550;
    margin-top: 2%;
    font-size: 0.9em;
    position: relative;
    display: inline-block;
    transition: .5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    gap: 10px;
}
.hero-part .left .hero-btn .inner{
    color: var(--white_color);
}
.hero-part .left .hero-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 100%;
    background-color: var(--primary_color);
    z-index: -1;
    transition: .4s all;
}
.hero-part .left .hero-btn:hover::after{
    width: 100%;
}
.hero-part .left .hero-btn:hover{
    color: var(--white_color);
}

.hero-part .right {
    position: relative;
}

.hero-part .right img {
    width: 100%;
    height: auto;
    margin-top: 5%;
}


.hero-part .bol-1 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 4em;
    height: 4em;
    background-color: var(--primary_color);
    z-index: 10;
    border-radius: 50%;
    animation: animateBall 3s infinite;
    filter: blur(10px);
}

.hero-part .bol-2 {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 5em;
    height: 5em;
    background-color: var(--primary_color);
    z-index: 10;
    border-radius: 50%;
    animation: animateBall 3s infinite;
    filter: blur(10px);
}

.hero-part .bol-3 {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 10em;
    height: 10em;
    background-color: var(--primary_color);
    z-index: 10;
    border-radius: 50%;
    animation: animateBall 3s infinite;
    filter: blur(10px);
}

.hero-part .bol-4 {
    position: absolute;
    top: 80%;
    right: 10%;
    width: 2em;
    height: 2em;
    background-color: var(--primary_color);
    z-index: 10;
    border-radius: 50%;
    animation: animateBall 3s infinite;
    filter: blur(10px);
}

@keyframes animateBall {
    0% {
        margin-top: 0%;
    }
    50% {
        margin-top: 1%;
    }
    100% {
        margin-top: 0%;
    }
}


/* adverties section */

.adverties{
    margin-bottom: 2rem;
}
.adverties img {
    position: relative;
    z-index: -1;    
    width: 24%;
}

.adverties .row {
    width: 70%;
    padding: 3% 3%;
    display: flex;
    justify-content: center;
    margin: -1% auto 0% auto;
    background-color: var(--black_color);
    border-radius: 1em;
    align-items: center;
}

.adverties .row .col {
    flex-basis: 49%;
}

.adverties .left {
    font-size: 1.5em;
    color: white;
}

.adverties .left h3 {
    line-height: 0.4em;
    font-weight: 400;
}

.adverties .right {
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adverties .right p {
    width: 70%;
}

.adverties .right a {
    width: 4em;
    height: 4em;
    background-color: var(--primary_color);
    color: white;
    margin-left: 2%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-decoration: none;
    transition: .3s all;
}
.adverties .right a:hover{
    background-color: var(--btn_hover);
}

.adverties .right a i {
    font-size: 1.5em;
    font-weight: 300;
}


/* products section */

.products{
    padding: 4% 0;
    background-color: rgba(0, 0, 0, 0.02);
}

.products h2 {
    font-size: 2.2em;
    font-weight: 500;
    text-align: center;
}

.products .row {
    width: 70%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    gap: 10px;
}

.products .row .col {
    flex: 0 1 22%;
    /* width: 25%; */
    padding: 2% 30px;
    text-align: center;
    /* box-shadow: 0 0 3px 0 rgba(0,0,0,0.1); */
    cursor: pointer;
    border-radius: 1rem;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.products .row .col img {
    width: 100%;
    /* height: 10em; */
}

.products .row .col h4 {    
    font-size: 0.8em;
    font-weight: 600;
}

.products .row .col p {
    color: var(--gray_color_text);
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0.5rem;
}
.products .row .col .rs{
    font-weight: 700;
    color: var(--black_color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .row .col .rs i{
    font-weight: 600;
    margin: 0 !important;
}
.products .row .col a {
    padding: 10px 21px;
    text-decoration: none;
    background-color: var(--primary_color);
    color: var(--white_color);
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: 400;
    font-size: 0.8rem;    
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
    transition: .5s all;
}
.products .row .col a:hover{
    background-color: var(--btn_hover);
}

/* Best Service by our team */

.best-service {
    width: 100%;
    padding: 4%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/service-back.jpg);
    background-color: var(--black_color);
    text-align: center;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.best-service h2 {
    font-size: 2em;
    color: white;
}

.best-service p {
    color: var(--white_color);
    width: 50%;
    margin: 2% auto;
    text-align: center;
}

.best-service a {
    padding: 0.8rem 2rem;
    color: white;
    background-color: var(--primary_color);
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    transition: .3s all;
}
.best-service a:hover{
    background-color: var(--btn_hover);
}


/* about us section */

.about {
    padding: 7% 0;
    background-color: rgba(0, 0, 0, 0.02);
}

.about .row {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 4rem;
}

.about .row .col {
    flex-basis: 49%;
}

.about .row .left {
    position: relative;
}

.about .row .left img {
    width: 80%;
    height: auto;
    border-radius: 10px 10px 0 10px;
}

.about .row .right h2 {
    font-size: 2.2em;
    font-weight: 700;
}

.about .row .right p {
    color: var(--gray_color_text);
    font-size: 0.9em;
    width: 80%;
    margin-top: 4%;
}

.about .row .right a {
    display: inline-block;
    margin-top: 4%;
    padding: 10px 30px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--primary_color);
    text-decoration: none;
    transition: .5s;
}

.about .row .right a:hover {
    box-shadow: 10px 10px 7px 0 rgba(0, 0, 0, 0.3);
}


/* testimonial section */

.testimonial {
    width: 100%;
    text-align: center;    
    background-color: rgba(0, 0, 0, 0.02);
    padding: 4% 0;
}

.testimonial h2 {
    font-size: 2.2em;
    font-weight: 700;
}

.testimonial p {
    color: var(--gray_color_text);
    text-align: center;
}

.testimonial .row {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 3% 0;
    gap: 20px;
}

.testimonial .row .col {
    flex-basis: 48%;
    padding: 3% 2%;
    margin: 2% 0;
    background-color: #fff;
    /* box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1); */
    border-radius: 13px 13px 0px 13px;
    transition: .6s all;
    cursor: pointer;
    text-align: left;
}
.testimonial .row .col:hover{
    background-color: var(--black_color);
}
.testimonial .row .col:hover h4{
    color: var(--white_color);
}

.testimonial .row .col img {
    width: 3em;
    height: 3em;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    /* margin: 2% 0; */
    object-fit: cover;
}
.testimonial .row .col .head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.testimonial .row .col .head .content{
    text-align: left;
    margin-left: 0.6rem;
}
.testimonial .row .col .head .content p{
    font-size: 0.8rem;
}
.testimonial .row .col .content-main{
    text-align: left;
    margin: 1.5rem 0;
}
.testimonial .rating{
    margin-top: 1rem;
    color: #ffb703;
}


/* footer section */

.footer {
    width: 100%;
    box-shadow: -2px 0 7px 0 rgba(0, 0, 0, 0.1);
    padding: 3%;
    background-color: var(--black_color);
}

.footer .row {
    width: 80%;
    text-align: center;
    margin: auto;
}

.footer .row h3 {
    margin: 0 0 1% 0;
    color: var(--white_color);
}

.footer .row p {
    color: var(--gray_color_text);
    font-size: 0.9em;
    text-align: center;
}

.footer .row ul li {
    display: inline-block;
    list-style: none;
    margin: 2% 1%;
}

.footer .row ul li a {
    text-decoration: none;
    color: var(--white_color);
    font-size: 0.8rem;
    font-weight: 500;
    transition: .3s all;
}
.footer .row ul li a:hover{
    color: var(--primary_color);
}
.footer .row .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .row .social-icons a {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: var(--primary_color);
    margin: 0 1%;
    padding: 1.4rem;
    transition: .5s;
    text-decoration: none;    
    color: var(--white_color);
}


.footer .row .social-icons a:hover {
    background-color: var(--btn_hover);
}


/* contact-section */

.contact-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 8% 0;
}

.contact-section .row {
    width: 80%;    
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contact-section .row .col {
    width: 49%;
}
.contact-section .row .left{
    padding: 40px;
}
.contact-section .row .left .sub{
    margin: 1rem 0;
}
.contact-section .row .left h3{
    font-size: 1.4rem;
}
.contact-section .row .left p{
    color: var(--gray_color_text);
    font-size: 0.9rem;    
}
.contact-section .row .left .contact-detail i{
    color: var(--primary_color);
}
.contact-section .row .left .mail,
.contact-section .row .left .mobile,
.contact-section .row .left .address{
    display: flex;    
    margin: 1.5rem 0;
    gap: 20px;
}
.contact-section .row .right {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 3% 0;
}

.contact-section .main-form .form-control {
    width: 49%;    
    border: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 0.8rem;
    margin-bottom: 1rem;    
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.contact-section .main-form .form-area {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2%;
}

.contact-section .main-form .btn {
    background-color: var(--primary_color);
    border: none;
    padding: 10px 30px;        
    color: #ffffff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 1rem;
    transition: .5s all;
}
.contact-section .main-form .btn:hover{
    background-color: var(--btn_hover);
}
/* products page */
.category-1{
    position: relative;            
}
.category-1 .products{
    padding: 8% 0 2% 0;
    text-align: center;
}
.category-2 .products{
    padding: 4% 0;
    text-align: center;
}

/* product detaile page */
.detail{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.detail .row{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
}
.detail .row .col{
    width: 48%;
}
.detail .row .col.left img{
    width: 70%;
    margin: auto;
    display: block;
}
.detail .row .col.left .boxs{
    width: 70%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}
.detail .row .col .boxs .box{
    height: 4rem;
    width: 4rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.detail .row .col.left .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail .row .col.left .box.active{
    border-color: var(--primary_color);
}
.detail .row .col.right{
    padding-top:5%;
    align-self: flex-start;
}
.detail .row .col.right .head{
    width: 80%;
    font-size: 1.3rem;
}
.detail .row .col.right .price,
.detail .row .col.right .discount{
    margin: 1rem 0;
}
.detail .row .col.right .price .no-color,
.detail .row .col.right .discount .no-color{
    color: var(--gray_color_text);
}
.detail .row .col.right .price .color,
.detail .row .col.right .discount .color{
    color: black;
    font-weight: 600;
    margin-left: 0.7rem;
}
.detail .row .col.right .btn{
    width: 150px;
    padding: 10px 0;
    text-align: center;
    background-color: var(--primary_color);
    margin: 1rem 0;
    display: block;
    text-decoration: none;
    color: var(--white_color);
    font-size: 0.8rem;
    font-weight: 600;
}
.detail .row .col.right .about-item h5{
    font-size: 1rem;
}
.detail .row .col.right .about-item ul{
    margin-left: 2rem;
    margin-top: 0.8rem;
}
.detail .row .col.right .about-item ul li{
    margin: 0.5rem;
}

.related-product .head{
    width: 220px;
    margin: auto;
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid var(--primary_color);
    font-size: 1.4rem;
    font-weight: 500;
}

.products-main .products{
    padding-top: 7%;
}